.TITLE {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page {
    display: flex;
    flex-direction: row;
}

.ExigenceDescription {
    width: 80%;
    margin-left: 5%;

}

.FirstLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Arrows {
    margin-right: 100px;
}

.ArrowLeft {
    border: none;
    background-color: white;

}

.ArrowLeft:hover {
    cursor: pointer;
    color: orange;
}

.ArrowRight {
    border: none;
    background-color: white;
}

.ArrowRight:hover {
    cursor: pointer;
    color: orange;
}

.Exigences_parties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.Part2 {
    display: flex;
    justify-content: right;
    margin-right: 5%;
    width: 40%;
}

.Part1 {
    width: 50%;
    margin-right: 5%;

}

h4 {
    color:#ee970a;
    margin-top: 10px;

}

.TextArea {

    width: 400px;
    height: 100px;
    padding: 3%;
    margin-bottom: 10px;
    color: black;
    background: rgb(243, 243, 243);
    border: transparent ;

}

.FormObserv {
    display: flex;
    flex-direction: column;
    width: 50%;
    

}



.BarreDéroulé {
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
width: max-content;

}

.BlackExigences {
    cursor: pointer;

}

.OrangeExigence {
    color: orange;
    cursor: pointer;
}

.SelectionMesures {
    margin-top: 50px;
}

.ChoixNiveaux {
    width: 1000px;
}

.CaseTable {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Case {

    width: 20%;
    height: 20%;

}

.Basique {
    background-color: crimson;
    color: black;
}

.Moyenne {
    background-color: orange;
    color: black;
}

.Elevee {
    background-color: yellow;
    color: black;
}

.Televee {
    background-color: greenyellow;
    color: black;
}

.TexteParties {
    background-color: transparent;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-top: 5px;
    font-size: 15px;
}

.TexteGuideAbregee {
    background-color: transparent;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}



.GuidePart {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.GuideBtn {
    color: black;
    background-color: white !important;
    border-color: black;
    margin-right: 10px;
}

.GuideBtn:hover {
    color: black;
    background-color: white !important;
    border-color: black;
}

.GuideBtn.show {
    background-color: white !important;
    border-color: black;
}

.GuideBtn:active {
    background-color: white !important;
    border-color: black;
}

.GuideBtn:focus {
    background-color: white !important;
    border-color: black;
}

.CollapseText {
    background-color: lightgrey;
}



.SousExigenceRow {
    margin-bottom: 5px;
}

.BoutonOk {
    background-color: lightgrey;
    border: transparent;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 8px;
    height: 30px;

}

.BoutonNok {
    background-color: lightgrey;
    border: transparent;
    margin-right: 10px;
    border-radius: 8px;
    height: 30px;
}

.BoutonNA {
    background-color: lightgrey;
    border:transparent;
    border-radius: 8px;
    height: 30px;
}

.AffectationMesures {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 50%;

}

.Mesurepart {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}





.MesureButton {
    background-color: orange;
    border: 2px solid rgb(240, 159, 8);
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-left: 60px;
    width: max-content;

}

.MesureButton:hover {
    cursor: pointer;
    background-color: #D68910;
    color: white;
    width: max-content;

}

.ButtonSendMesures {

    width: 50%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoutonObserv {
    background-color: orange;
    border: 2px solid rgb(240, 159, 8);
    border-radius: 5px;
    color: white;
    width: max-content;
}

.BoutonObserv:hover {
    cursor: pointer;
    background-color: #D68910;
    color: white;
    width: max-content;
}

.BtnISO {
    background-color: #D68910;
    color: white;
    margin-left: 50px;
    padding: 4px;
    border-radius: 5px;

}

.BtnISO:hover {
    cursor: pointer;
    padding: 5px;
}