.TITLEMESURE {
  margin-left: 20px;
  margin-top: 5px;
}

.pageMesure {
  display: flex;
}

.ListeMesures {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 100%;
  border-collapse: collapse;
}

table.ListeMesures th {
  border: 2px solid black;
}

table.ListeMesures td {
  border: 2px solid black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: orange;
}



/*Toutes les cases modifiables*/
#Case {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}




/*Changement visuel quand on passe la souris dessus*/
#CelluleMesure:hover {
  background-color: peachpuff;
}

/*Changement visuel quand on clique sur l'intérieur de la cellule (la div contentEditable)*/
#CelluleMesure:focus-within {
  background-color: orange;
}

/*Id interne*/
/*Header ou titre*/
thead th.IdMesure:nth-child(1) {
  width: 80px;
}

/*Cellules*/
tbody td:nth-child(1) {
  text-align: center;
}


/*Libellé*/
thead th:nth-child(2) {
  text-align: center;
  width: 20%;
}

/*Action détaillée*/
thead th:nth-child(3) {
  text-align: center;
  width: 180px;
  height: auto;
  width: 15%;
}

/*Maturité*/
thead th:nth-child(4) {
  text-align: center;
  width: 70px;
}

tbody td:nth-child(4) {
  text-align: center;
}

/*Priorité*/
thead th:nth-child(5) {
  text-align: center;
  width: 65px;
}

tbody td:nth-child(5) {
  text-align: center;
}

/*Complexité*/
thead th:nth-child(6) {
  text-align: center;
  width: 95px;
}

tbody td:nth-child(6) {
  text-align: center;
}

/*Coût Projet (k€)*/
thead th:nth-child(7) {
  text-align: center;
  width: 95px;
}

tbody td:nth-child(7) {
  text-align: center;
}

/*Coût Run (k€/an)*/
thead th:nth-child(8) {
  text-align: center;
  width: 75px;
}

tbody td:nth-child(8) {
  text-align: center;
}

/*Aide au chiffrage*/
thead th:nth-child(9) {
  text-align: center;
  width: 170px;
}

/*Porteur*/
thead th:nth-child(10) {
  text-align: center;
  width: 70px;
}

/*Date début*/
thead th:nth-child(11) {
  text-align: center;
  width: 7%;
}


/*Date fin */
thead th:nth-child(12) {
  width: 7%;
  text-align: center;
}



/*Statut*/
thead th:nth-child(13) {
  width: 65px;
}

/*Macro Projet*/
thead th:nth-child(14) {
  width: 95px;
}

tbody tr td:nth-child(2) {
  text-align: center;
  text-justify: inter-word;
}

tbody tr td:nth-child(3) {
  text-align: center;
  text-justify: inter-word;
}


#Filtre {
  width: 15%;
  margin-bottom: 10px;
  margin-left: 50px;
}

#ChoixFiltre {
  margin-left: 10px;
}

#TitreMesure:hover {
  color: white;
  cursor: pointer;
}

#TitreMesure {
  color: black;
}

#Triangle {
  font-style: bold;
  color: white;
}

.BtnDelete {
  border: 1px solid black;
  padding: 2px 8px;
  background-color: lightcoral;


}

.BtnDelete:hover {
  background-color: #d62828;
  color: white;
  cursor: pointer;

}

#ResetFiltre {
  margin-left: 50px;
  margin-bottom: 10px;
  width: 20%;
  height: 80px;
  background-color: white;
  border: 2px solid black;
}

#ResetFiltre:hover {
  background-color: black;
  color: white;
}

#FiltreC {
  width: 100%;
}

.BoutonArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 20px;
}

.Downloadmesures {
  border: 2px solid black;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-bottom: 12px;

}

.Downloadmesures:hover {
  color: white;
  background-color: black;
}