html,
body,

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "advances advances costs"
      "settings settings settings"
      ". . .";
  }
  
  .advances {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-areas:
      "radar radar progress_bar"
      "radar radar progress_bar"
      "kpi kpi progress_bar";
    grid-area: advances;
  }
  
  .progress_bar {
    justify-self: center;
    align-self: center;
    grid-area: progress_bar;
    width: 8em;
    height: 10em;
  }
  
  .radar {
    justify-self: center;
    align-self: center;
    grid-area: radar;
    width: 10em;
    height: 10em;
  }
  
  .kpi {
    justify-self: center;
    align-self: center;
    grid-area: kpi;
  }
  
  .costs { grid-area: costs; }
  
  .settings {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "audit_status audit_status audit_status"
      "action_plan_status action_plan_status action_plan_status"
      "info info info";
    grid-area: settings;
  }
  
  .audit_status { grid-area: audit_status; }
  
  .action_plan_status { grid-area: action_plan_status; }
  
  .info { grid-area: info; }
  