.Addauditeur {
    background-color: white;
    border-color: black;
    color: black;
    height: 2.5em;
    padding: 2%;
    width: 30%;
    display: flex;
    align-items: center;
}

.Addauditeur:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.AjoutArea {

    width: 80vh;

    margin-left: 10%;
    height: 10em;
    margin-bottom: 2%;
}

.AuditeurInput {
    width: 50%;
    border: 2px solid black;
    border-right: none;
    height: 3.5em;
}

.FormAuditeur {
    margin-top: 3%;
    display: flex;

    flex-direction: row;
    align-items: center;

}

.TableAuditeurs {
    width: 50%;
    margin-left: 10%;
}

.RowTable {
    display: flex;
    align-items: center;
    justify-content: center;
}

.BtnSupress {
    border: 1px solid black;
    padding: 2px 8px;
}

.BtnSupress:hover {
    background-color: #d62828;
    color: white;
}

.TexteAuditeur {
    margin-top: 2%;
    width: 71.6%;
    background-color: whitesmoke;
    color: rgb(90, 87, 87);
    border-radius: 10px;
    padding: 2%;
}