.ChoixNiveaux{
    width:1000px;
}
.CaseTable{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Case{
    
    width: 20%;
    height:20%; 
    
}
.Basique{
    background-color: crimson;
}
.Moyenne{
    background-color:orange;
}
.Elevee{
    background-color: yellow;
}
.Televee{
    background-color: greenyellow;
}