.Navbar {
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
}

.Home {
    width: 100%;
    height: 35vw;
}

.ConnexionArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 25%;
    height: 50%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.pageHome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45vw;
}

.ConnexionBtn {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    height: 20%;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}