.boutons {
    display: flex;
    justify-content: row;
    padding-left: 30%;
    padding-top: 100px;
    color: orange;
}

.Button1 {
    padding: 5px;
    background-color: orange;
    border-color: orange;
    margin-right: 50px;
    color: white;
    cursor: pointer;
    height: 100%;
    box-shadow: none;
}

.InputProjet {
    height: 100%
}

.Button2 {
    padding: 5px;
    background-color: orange;
    border-color: orange;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

.TableProjects {
    border-collapse: collapse;
    min-width: 1000px;
    width: auto;
    margin-top: 50px;
    margin: 50px auto;

}

.ButtonProjectName {
    cursor: pointer;
    border: 3px black;
    border-radius: 2px;
    background-color: transparent;

}

.ButtonProjectName:hover {
    cursor: pointer;
    border: 3px black;
    border-radius: 2px;
    background-color: orange;
    color: white;
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    min-width: 650px;

}

thead {
    display: table-header-group;
}

thead tr {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0px;
}

th {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    text-align: right;
    padding: 16px;
    font-weight: 900;
    color: #F57C00;
}

tbody {
    display: table-row-group;
}

tbody tr {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0px;
}

td {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    text-align: right;
    padding: 16px;
    color: rgba(0, 0, 0, 0.87);
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.Boutondeleted {
    position: absolute;
    transform: translate(50%, 50%);
    background-color: white;
    border: 2px solid black;
}

.Boutondeleted:hover {
    background-color: black;
    color: white;
}